body {
    background: url(depositphotos_123195904-stock-illustration-concept-car-drawing-with-supercar.jpg);
	margin: 0 0;
}

h1 {
	font-size: 1rem;
	color: rgb(255,255,255);
	margin-top: 1rem;
	margin-bottom: 0rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1rem;
	color: rgb(255,255,255);
	margin-top: 1rem;
	margin-left: 1rem;
}

div {
	margin-left: 0;
}

a {
	color: rgb(255,255,255);
	text-decoration: none; 
}

.main{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 2rem;

}

.main2{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 2rem;
}

#orc {
	font-size: 35px;
	margin-top: 10rem;
	text-align: center;
	white-space: nowrap;
}

#tds {
	font-size: 20px;
	margin-top: 10rem;
	text-align: center;
	text-align: center;
}

#usu {
	font-size: 25px;
	margin-top: 2rem;
	text-align: center;
	white-space: nowrap;
}

#fotologo{
	border-radius: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    width: 50%;
}

#senha{
	width: 50%;
	height: 100%;
	font-size: 18px;
	margin-top: 3rem;
	margin-left: 6rem;
	font-style: italic;
	border-radius: 3px;
	border: none;
	font-family: "Times New Roman", Times, serif;
}

#bm{
	font-size: 20px;
	text-align: center;
	font-style: italic;
	margin-top: 6rem;
}

.button3{
	display: inline-block;
	padding: 15px 25px;
	width: 80%;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	background-color: rgb(1, 0, 138);
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px #999;
    grid-row-start:  4;
    grid-column-start:  1;
    grid-column-end: 3;
    margin-top: 3rem;
    margin-left: 2.5rem;
    white-space: nowrap;

}

.peca{
	text-align: center;
}

.logo{
	font-size: 20px;
	margin-left: 5rem;
	font-style: italic;
	white-space: nowrap;
	margin-top: 1rem;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	width: 90%;
	cursor: pointer;
	text-align: center;
	background-color: rgb(1, 0, 138);
	border: none;
	border-radius: 50px;
	box-shadow: 0 4px #999;
    grid-row-start:  4;
    grid-column-start:  1;
    grid-column-end: 3;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-text{
	font-size: 1rem;
}

.button2 {
	display: flex;
	padding: 15px 25px;
	font-size: 17px;
	cursor: pointer;
	text-align: center;
	background-color: rgb(1, 0, 60);
	border: none;
	box-shadow: 0 4px #999;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;

}

.uk-search:first-child {
	margin-top: 0rem;
}

.uk-search-field {
	height: 2rem;
	margin-left: 1rem;
	width: 80%;
	font-size: 18px;
	font-style: italic;
	border-radius: 3px;
	border: none;
	font-family: "Times New Roman", Times, serif;
}

.uk-button-group{
	margin-left: 10rem;
}

.div1{
    grid-column-start:  1;
    grid-column-end: 2;
    grid-row-start:  1;
    grid-row-end: 2;
}

.div2{
    grid-column-start:  2;
    grid-column-end: 3;
    grid-row-start:  1;
    grid-row-end: 2;
}

.div3{
    grid-column-start:  1;
    grid-column-end: 3;
    grid-row-start:  2;
}

.div4 {
	  background-color: rgb(0, 0, 41);
	  border-radius: 10px;
	  text-align: start;
}

.minhaclasse{
	width: 80%;
	height: 100%;
	font-size: 18px;
	margin-left: 2.25rem;
	margin-top: 1rem;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.minhaclasse2{
	width: 50%;
	height: 100%;
	font-size: 18px;
	margin-top: 3rem;
	margin-left: 6rem;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

input {font:small-caption;font-size:16px;}